<h2>更新个人资料</h2>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<legend>编辑用户资料</legend>
		<%= form_for(resource, :as => resource_name, :url => user_registration_path,  :html => { :method => :put,:enctype => "multipart/form-data" }) do |f| %>
			<%= devise_error_messages! %>
			<div>
				<%= f.label :name, '用户名' %>
				<%= f.text_field :name %>
			</div>

			<div>
				<%= f.label :email, '邮箱' %>
				<%= f.email_field :email %>
			</div>

			<div>
				<%= f.label :avatar, '头像' %>
				<%= f.file_field :avatar %>
			</div>

			<div>
				<%= f.label :password,'密码' %> <i>(如果不想改变，就什么都不要做)</i>
				<%= f.password_field :password, :autocomplete => "off" %>
			</div>

			<div>
				<%= f.label :password_confirmation, '密码确认' %>
				<%= f.password_field :password_confirmation %>
			</div>

			<div>
				<%= f.label :current_password,'新密码' %> <i>(输入新的密码)</i>
				<%= f.password_field :current_password %>
			</div>

			<div class="col-submit"><%= f.submit "更新" , class: 'btn btn-primary btn-large' %></div>
		<% end %>

		<p>Unhappy? <%= link_to "注销帐号", registration_path(resource_name), :data => { :confirm => "确定?" }, :method => :delete %>.</p>

		<%= link_to "返回", :back %>
	</div>
</div>
