<% provide(:title,'添加发人信息') %>
<div class="row admin-row">
	<div class="well col-md-2">
		<ul class="nav nav-list">
			<li class="nav-header">管理面板</li>
			<li><%= link_to '首页管理', admins_manager_path %></li>
			<li><%= link_to "用户管理","#" %></li>
			<li class="active"><%= link_to '公司管理',admins_companies_path %></li>
			<li><a href="#">知识管理</a></li>
			<li><a href="#">笔记管理</a></li>
			<li><a href="#">申请管理</a></li>
		</ul>
	</div>
	<div class="col-md-6">
		<%= form_for(@owner, :url => admins_company_owner_path(@company)) do |f| %>
			
			<%= f.label :name, '姓名' %>
			<%= f.text_field :name %>

			<%= f.label :photo, '照片' %>
			<%= f.file_field :photo %>

			<%= f.label :about, '介绍' %>
			<%= f.text_field :about %>
			
			<%= f.label :license, '营业执照'%>
			<%= f.file_field :license %>

			<%= f.submit '添加', class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
