<div class="row admin-row">
	<%= render "admins/admin_slider" %>
	<div class="col-md-9">
		<div class="add-company"><%= link_to '添加公司', new_admins_company_path%></div>
		<table class="table table-bordered admin">
			<thead>
			   <th id="admin-logo">Logo</th>
               <th>公司名称</th>
			   <th>类别</th>
			   <th>是否显示</th>
               <th>操作</th>
			</thead>
			<tbody>
				<% if @companies %>
					<% @companies.each do |company| %>
						<tr>
							<td> <%= image_tag company.logo, :with => 100, :height => 100 %></td>
							<td> <%= company.name %></td>
							<td> <%= company.category %></td>
							<td> 
								<span id="companyid"><%= company.id%></span>
								<% if company.show %>
									<input type="checkbox" checked="true" name="isshow" id="companyshow"/>
								<% else %>
									<input type="checkbox" name="isshow" id="companyshow">
								<% end %>
							</td>
							<td>
								<span class="glyphicon glyphicon-pencil"></span>
								<span class="option"><%= link_to "编辑", "" %></span>
								<span class="glyphicon glyphicon-trash"></span>
								<span class="option"><%= link_to "删除", "" %></span>
								<span class="glyphicon glyphicon-eye-open"></span>
								<span class="option"><%= link_to "详细", admins_company_path(company)%></span>
							</td>
						</tr>
					<% end %>
			    <% end %>
			</tbody>
		</table>
		<%= will_paginate @companies, previous_label:'上一页', next_label:'下一页' %>
	</div>
</div>
