<% provide(:title, '创建公司') %>
<div class="row admin-row">
	<%= render "admins/admin_slider" %>
	<div class="col-md-6">
		<h3>创建公司</h3>
		<%= form_for(@company, :url => admins_companies_path,:html => {:multipart => true} ) do |f| %>

			<%= f.label :logo, 'Logo' %>
			<%= f.file_field :logo %>

			<%= f.label :name, '公司名称' %>
			<%= f.text_field :name %>

			<%= f.label :category, '公司类别'%>
			<%= f.text_field :category %>

			<%= f.label :about, '公司简介' %>
			<%= f.text_field :about %>

			<%= f.label :service, '公司范围' %>
			<%= f.text_field :service %>
			<div class="col-submit">
				<%= f.submit "创建", class: "btn btn-large btn-primary" %>
			</div>
		<% end %>
	</div>
</div>
