<div class="row admin-row">
	<div class="well col-md-2">
		<ul class="nav nav-list">
			<li class="nav-header">管理面板</li>
			<li><%= link_to '首页管理', admins_manager_path %></li>
			<li><%= link_to '用户管理', admins_users_path %></li>
			<li class="active"><%= link_to '公司管理',admins_companies_path %></li>
			<li><%= link_to '知识管理', admins_articles_path%></li>
			<li><%= link_to '笔记管理', admins_logs_path%></li>
			<li><a href="#">申请管理</a></li>
		</ul>
	</div>
	<div class="col-md-9">
		<ul class="breadcrumb">
			<li><%= link_to '公司管理', admins_companies_path %></li>
			<li><%= link_to @company.name, admins_company_path(@company)%></li>
			<li class="active">详细信息</li>
		</ul>
		<div class="adm-company-info-item">
			<%= render "company_base_info" %>
		</div>
		<div class="adm-company-info-item">
			<%= render "contact_info" %>
		</div>
		<div class="adm-company-info-item">
			<%= render "address_info" %>
		</div>
		<div class="adm-company-info-item">
			<%= render "owner_info" %>
		</div>
		<div class="adm-company-info-item">
			<%= render "projects_info" %>
		</div>
		<div class="adm-company-info-item">
			<%= render "demos_info" %>
		</div>
		<div>
			<%= render "result_sets_info" %>
		</div>
	</div>
</div>
