<div class="row admin-row">
	<%= render "admins/admin_slider" %>
	<div class="col-md-9">
		<ul class="breadcrumb">
			<li><%= link_to '公司管理', admins_companies_path %></li>
			<li><%= link_to @company.name, admins_company_path(@company)%></li>
			<li class="active">详细信息</li>
		</ul>
		<div class="adm-company-info-item">
			<%= render "company_base_info" %>
		</div>
		<div class="adm-company-info-item">
			<%= render "contact_info" %>
		</div>
		<div class="adm-company-info-item">
			<%= render "address_info" %>
		</div>
		<div class="adm-company-info-item">
			<%= render "owner_info" %>
		</div>
		<div class="adm-company-info-item">
			<%= render "projects_info" %>
		</div>
		<div class="adm-company-info-item">
			<%= render "demos_info" %>
		</div>
		<div>
			<%= render "result_sets_info" %>
		</div>
	</div>
</div>
