<div class="row">
	<div class="well span2">
		<ul class="nav nav-list">
			<li class="nav-header">管理面板</li>
			<li><%= link_to '首页管理', admins_manager_path %></li>
			<li><%= link_to '用户管理', admins_users_path %></li>
			<li class="active"><%= link_to '公司管理',admins_companies_path %></li>
			<li><%= link_to '知识管理', admins_articles_path%></li>
			<li><%= link_to '笔记管理', admins_logs_path%></li>
			<li><a href="#">申请管理</a></li>
		</ul>
	</div>
	<div class="span9">
		<ul class="breadcrumb">
			<li><%= link_to '公司管理', admins_companies_path %><span class="divider">/</span></li>
			<li><%= link_to @company.name, admins_company_path(@company)%><span class="divider">/</span></li>
			<li class="active">详细信息</li>
		</ul>
		<div class="base-company">
			<div class="base-company-header">公司基本信息 <%= link_to '编辑', edit_admins_company_path(@company) %></div>
			<div class="base-first-item row">
				<div class="span3">
					<span>公司名称:<%= @company.name %></span>
					<span>公司类别:<%= @company.category%></span>
					<span>公司简介:<%= @company.about%></span>
				</div>
				<div class="span5">公司Logo:<%= image_tag @company.logo, :class => "img-polaroid", :width => 100, :height => 100 %></div>
			</div>
		</div>
		<div class="contact-company">
			<div class="contact-company-header">公司联系方式 <%= link_to '编辑', edit_admins_company_contact_path(@company)%></div>
			<div class="contact-first-item row">
				<div class="span3">座机:<%= @contact.telephone%></div>
				<div class="span3">手机:<%= @contact.mobile%></div>
			</div>
			<div class="contact-second-item row">
				<div class="span3">QQ:<%= @contact.qq %></div>
				<div class="span3">邮箱:<%= @contact.mail%></div>
			</div>
		</div>
		<div class="address-company">
			<div class="address-company-header">公司地址 <%= link_to '编辑', edit_admins_company_address_path(@company)%></div>
			<div class="address-first-item">
				<address>
					<div><%= @province.name %><%= @city.name %><%= @district.name %>区<%= @company.address.street %></div>
				</address>
			</div>
		</div>
		<div class="owner-company">
			<div class="owner-company-header">法人信息 <%= link_to '编辑', edit_admins_company_owner_path(@company)%></div>
			<div class="owner-first-item row">
				<div class="span3"><%= image_tag @owner.photo, :width =>100, :height => 100 %></div>
				<div class="span3">
					<div>法人姓名:<%= @owner.name %></div>
					<div>法人介绍:<%= @owner.about %></div>
				</div>
			</div>
		</div>
		<div class="projects-company">
			<div class="projects-company-header">
				<span>工程列表</span><span><%= link_to '添加', new_admins_company_project_path(@company)%></span>
			</div>
			<div>
				<ol>
					<% @projects.each do |project| %>
						<li><%= project.name %><%= link_to '编辑', edit_admins_company_project_path(@company,project)%></li>
					<% end %>
				</ol>
			</div>
		</div>
		<div class="demos-company">
			<div class="demos-company-header">
				<span>经典案例</span><span><%= link_to '添加', new_admins_company_demo_path(@company)%></span>
			</div>
			<div>
				<ol>
					<% @demos.each do |demo| %>
						<li>
						<%= image_tag demo.image, :width =>100, :height => 100 %>
						<span><%= link_to '编辑', edit_admins_company_demo_path(@company)%></span>
						<span><%= link_to '删除', '#'%></span>
						</li>
					<% end %>
				</ol>
			</div>
		</div>
	</div>
</div>
