<div class="well col-md-2">
	<ul class="nav nav-list">
		<li class="nav-header">管理面板</li>
		<li class="admin_slider admin_index"><%= link_to '首页管理', admins_manager_path %></li>
		<li class="admin_slider admin_user"><%= link_to "用户管理", admins_users_path %></li>
		<li class="admin_slider admin_company"><%= link_to '公司管理', admins_companies_path %></li>
		<li class="admin_slider admin_article"><%= link_to '知识管理', admins_articles_path %></li>
		<li class="admin_slider admin_log"><%= link_to '笔记管理', admins_logs_path %></li>
		<li class="admin_slider admin_apply"><a href="#">申请管理</a></li>
	</ul>
</div>

