<% provide(:title, '更新法人信息') %>
<div class="row">
	<%= render "side" %>
	<div class="span6">
		<%= form_for([@company,@owner]) do |f| %>
			
			<%= f.label :name, '姓名' %>
			<%= f.text_field :name %>

			<%= f.label :photo, '照片' %>
			<%= f.file_field :photo %>

			<%= f.label :about, '简介' %>
			<%= f.text_field :about %>

			<%= f.label :license, '营业执照' %>
			<%= f.file_field :license %>

		    <%= f.submit "更新", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
