<% provide(:title,'添加发人信息') %>
<div class="row">
	<div class="span6">
		<%= form_for(@owner, :url => admins_company_owner_path(@company)) do |f| %>
			
			<%= f.label :name, '姓名' %>
			<%= f.text_field :name %>

			<%= f.label :photo, '照片' %>
			<%= f.file_field :photo %>

			<%= f.label :about, '介绍' %>
			<%= f.text_field :about %>
			
			<%= f.label :license, '营业执照'%>
			<%= f.file_field :license %>

			<%= f.submit '添加', class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
