<div>
	<div class="well span2">
		<ul class="nav nav-list">
			<li class="nav-header">管理面板</li>
			<li><%= link_to '首页管理', admins_manager_path %></li>
			<li><%= link_to "用户管理", admins_users_path %></li>
			<li><%= link_to '公司管理', admins_companies_path %></li>
			<li><%= link_to '知识管理', admins_articles_path %></li>
			<li class="active"><%= link_to '笔记管理', admins_logs_path %></li>
			<li><a href="#">申请管理</a></li>
		</ul>
	</div>
	<div class="span9">
		<table class="table table-bordered admin">
			<thead>
               <th>标题</th>
			   <th>发布时间</th>
			   <th>作者</th>
			   <th>操作</th>
			</thead>
			<tbody>
				<% if @logs %>
					<% @logs.each do |log| %>
						<tr>
							<td><%= log.title %></td>
							<td><%= log.created_at %></td>
							<td><%= log.user.name %></td>
							<td> 
								<i class="icon-edit"></i>
								<span class="option"><%=link_to '编辑', '#' %></span>
								<i class="icon-trash"></i>
								<span class="option"><%=link_to '删除', '#' %> </span>
							</td>
						</tr>
					<% end %>
			    <% end %>
			</tbody>
		 </table>
	</div>
</div>
