<% provide(:title, @article.title) %>
<% provide(:keywords, @article.keywords) %>
<div class="cus-breadcrumb">
	<ul class="breadcrumb">
		<li><%= link_to '首页', root_path, :target=>'_blank'%></li>
		<li>
			<% if @category != nil %>
				<%= link_to @category.category, category_path(@category), :target=>'_blank'%>
			<% else %>
			<% end %>
		</li>
	</ul>
</div>
<div class="col-md-8">
	<div class="show-article article-title">
		<h4><%= @article.title %></h4>
	</div>
	<div class="show-article article-block">
		<div class="article-category">
			<span>分类:</span>
			<span>
				<% if @category != nil %>
					<%= link_to @category.category,category_path(@category), :target=>'_blank'%>
				<%else%>
				<%end%>
			</span>
		</div>
		<div class="article-author">
			<span>作者:</span><span><a href="#">网络</a></span>
		</div>
		<div class="article-time">
			<span>发布时间:</span>
			<span><a href="#"><%= @article.created_at.year %>/<%= @article.created_at.month %>/<%= @article.created_at.day %></a></span>
		</div>
	</div>
	<div class="show-article article-keywords">
		<% if @keywords != nil && !@keywords.strip.empty?%>
			<% @keywords.split("|").each do |keyword|%>
				<a href="#"><%= keyword %></a>
			<% end %>
		<% end %>
	</div>
	<div class="show-article article-all-content">
		<div class="article-content">
			<%= @article.content.html_safe %>
		</div>
		<div class="button-share">
			<!-- JiaThis Button BEGIN -->
			<div class="jiathis_style">
				<span class="jiathis_txt">分享到：</span>
				<a class="jiathis_button_tools_1"></a>
				<a class="jiathis_button_tools_2"></a>
				<a class="jiathis_button_tools_3"></a>
				<a class="jiathis_button_tools_4"></a>
				<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
				<a class="jiathis_counter_style"></a>
			</div>
			<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1373774995105573" charset="utf-8"></script>
			<!-- JiaThis Button END -->
		</div>
		<div id="comment-head">
			<div id="comments-num">共收到<%= @all_comments.count %>条评论</div>
		</div>

		<% @all_comments.each do |comment| %>
			<div class="comments">
				<div>
					<span><%= link_to comment.user.name, user_path(comment.user)%></span>
					<span>在<%= comment.created_at.year %>-<%= comment.created_at.month %>-<%= comment.created_at.day %>说</span>
					<div class="comment-content"><%= comment.content %></div>
				</div>	
			</div>
		<% end %>
		<% if user_signed_in? %>
			<div id="comment-edit">
				<%= form_for [@article, @article.comments.build], :url => comment_create_path(@article) do |f| %>
					<div><%= f.text_area :content,size:"40x5",placeholder: "说点儿什么" %></div>
					<!--<button id="comment-submit" class="btn" type="button">说完了</button>-->
					<div id="comment-submit"><%= f.submit "说完了", class: "btn btn-large btn-primary" %></div>
				<% end %>
			</div>
		<% else %>
			<div id="comment-post"><%= link_to '登录', new_user_session_path %>之后发表评论</div>
		<% end %>
	</div>
</div>
<div class="col-md-3 index-article-slider">
	<%= render "newst_slider" %>
	<%= render "category_slider" %>
	<%= render "comment_slider" %>
</div>
