<% provide(:title, '更新地址') %>
<div class="row admin-row">
	<div class="well col-md-2">
		<ul class="nav nav-list">
			<li class="nav-header">管理面板</li>
			<li><%= link_to '首页管理', admins_manager_path %></li>
			<li><%= link_to "用户管理","#" %></li>
			<li class="active"><%= link_to '公司管理',admins_companies_path %></li>
			<li><a href="#">知识管理</a></li>
			<li><a href="#">笔记管理</a></li>
			<li><a href="#">申请管理</a></li>
		</ul>
	</div>
	<%-
        provinces  = ChinaCity.list
        cities     = ChinaCity.list
        districtes = ChinaCity.list
    %>
	<div class="col-md-9">
		<ul class="breadcrumb">
			<li><%= link_to '公司管理', admins_companies_path %></li>
			<li><%= link_to @company.name, admins_company_path(@company)%></li>
			<li class="active">编辑公司地址</li>
		</ul>
		<%= form_for(@address, :url => admins_company_address_path(@company)) do |f| %>
			

			<div class='rails-helper city-group'>
		      <%= f.select(:province, options_for_select(provinces,ChinaCity.get(@address.province)),
		       {:prompt=> '--省份--'}, {:class => 'city-select city-province'}) %>
		      <%= f.select(:city    , options_for_select(cities,   ChinaCity.get(@address.city)),
		       {:prompt=> '--城市--'}, {:class=> 'city-select city-city'}) %>
		      <%= f.select(:district, options_for_select(districtes,ChinaCity.get(@address.district)),
		       {:prompt=> '--地区--'}, {:class=> 'city-select city-district'}) %>
	    	</div>

			<%= f.text_field :street %>

			<%= f.submit "更新", class: "btn btn-lg btn-primary" %>
		<% end %>
	</div>
</div>
