<% provide(:title, '添加地址') %>
<div class="row admin-row">
	<%= render "admins/admin_slider" %>
	<%-
        provinces  = ChinaCity.list
        cities     = ChinaCity.list
        districtes = ChinaCity.list
    %>
	<div class="span9 ">
		<%= form_for @address, :url=>admins_company_address_path(@company) do |f| %>
			
			<div class='html-tag city-group'>
			    <%= f.select(:province, options_for_select(ChinaCity.list),{:prompt => '--省份--'},{:class => 'city-select city-province' }) %>
			    <%= f.select(:city, options_for_select(ChinaCity.list),{:prompt => '--城市--'}, {:class => 'city-select city-city' }) %>
			    <%= f.select(:district,options_for_select(ChinaCity.list),{:prompt =>'--地区--'}, {:class => 'city-select city-district'} ) %>
			</div>
			<%= f.text_field :street %>
			<div class="col-submit">
				<%= f.submit "添加", class: "btn btn-large btn-primary" %>
			</div>
	    <% end %>
	</div>
</div>
