<% provide(:title, '添加案例') %>
<div class="row admin-row">
	<%= render "admins/admin_slider" %>
	<div class="col-md-6">
		<%= form_for(@demo,:url => admins_company_demos_path(@company)) do |f| %>
			<%= f.label :title, "名称" %>
			<%= f.text_field :title %>

			<%= f.label :image, "图片" %>
			<%= f.file_field :image %>

			<%= f.label :introduction, "介绍" %>
			<%= f.kindeditor :introduction %>

			<div class="col-submit">
				<%= f.submit "添加", class:"btn btn-large btn-primary" %>
			</div>
	    <% end %>
	</div>
</div>
