<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "花括号后台管理系统" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "花括号后台管理系统" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
	  <header class="navbar navbar-fixed-top" role="banner">
	  <div class="container">
		  <nav class="navbar narbar-default navbar-fixed-top" role="navigation"> 
		  <div class="navbar-header braces-navbar-header">
			  <%= render 'layouts/admin' %>
		  </div>
		  </nav>
	  </div>
	  </header>
      <div class="container container-bg">
        <div class="content">
           <div class="row min-content" id="margin-row">
              <%= render 'layouts/messages' %>
              <%= yield %>
          </div>
		  <%= render 'layouts/footer'%>
        </div>
      </div> <!--! end of .container -->
  </body>
</html>
