<h4>用户后台管理</h4><div><%= link_to '创建公司', new_user_company_path(@user) %></div>

<div class="row">
	<div class="span6">
		<div>
			<% @user.companies.each do |company| %>
				<div>
					<div>
						<span><%= link_to '编辑', edit_user_company_path(@user,company) %></span>
						<span><%= link_to '删除', '#'%></span>
					</div>
					<div><span>公司名称</span><%= link_to company.name, company %></div>
					<div><span>公司法人</span><%= company.owner %></div>
					<div><span>联系方式</span><%= company.phone %>|<%= company.email %>|<%= company.telephone %>|<%= company.qq %></div>
					<div><span>公司地址</span><%= company.province %>省<%= company.city%>市<%= company.district %>区<%= company.address_other%></div>
					<div><span>公司简介</span><%= company.about%></div>
					<div><span>公司工程</span><%= company.projects%></div>
				</div>
			<% end%>
		</div>
	</div>
</div>

	
