<div class="row">
	<div class="span3"></div>
	<div class="span6">
		<div>会员信息</div>
		<ol>
			<li>Name:<%=@user.name%></li>
			<li>Email:<%=@user.email%></li>
		</ol>
		<div>发布的文章</div>
		<ol>
		<% @logs.each do |log| %>
			<li><%= link_to log.title ,log_path(log) %></li>
		<% end %>
		</ol>
		<div>参与的评论</div>
		<ol>
		<% @comments.each do |comment| %>
			<li><%= link_to comment.article.title, article_path(comment.article) %></li>
			<span><%= comment.content %></span>
		<% end %>
		</ol>
	</div>
</div>

	
