<div id="carousel-braces-generic" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<% @indexImages.each_with_index do |indexImage,index| %>
			<% if index == 0 %>
				<li data-target="#carousel-braces-generic" data-slide-to="0" class="active"></li>
			<% else %>
				<li data-target="#carousel-braces-generic" data-slide-to="<%=index%>"></li>
			<% end %>
		<% end %>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<% @indexImages.each_with_index do |indexImage,index| %>
			<% if index == 0 %>
				<div class="item active">
					<%= image_tag indexImage.image, class:"img-responsive", alt:"banner", width:"1173", height:"500"%>
					<div class="carousel-caption">
						<%= indexImage.describe%>	
					</div>
				</div>
			<% else %>
				<div class="item">
					<%= image_tag indexImage.image, class:"img-responsive", alt:"banner", width:"1173", height:"500" %>
					<div class="carousel-caption">
						<%= indexImage.describe%>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#carousel-braces-generic" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a class="right carousel-control" href="#carousel-braces-generic" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div>

