<div class="col-md-2" id="hozz-left">
	<div id="logo-image">
		<%= image_tag @company.logo, :class => "hozz-img-polaroid"%>
	</div>
	<div class="hozz-owner-con">
		<div class="hozz-owner-header">公司资料</div>
		<div class="hozz-owner-content">
			<ul>
				<li class="hozz-com-item">公司概述</li>
				<li class="hozz-com-item">施工效果</li>
				<li class="hozz-com-item">经典案例</li>
				<li class="hozz-com-item">公司动态</li>
				<li class="hozz-com-item">公司特色</li>
				<li class="hozz-com-item">评论/打分</li>
			</ul>
		</div>
	</div><!-- end hozz-owner-con -->
</div><!-- end span3 -->

<div class="col-md-9">
	<div class="row hozz-company-title-div2">
		<div class="hozz-title"><%= link_to @company.name, company_path(@company) %></div>
		<div class="row">
			<div class="col-md-4">
				<span class="hozz-phone-img glyphicon glyphicon-phone-alt"></span>
				<div class="hozz-phone-con"><%= @company.contact.mobile %></div>
			</div>
			<div class="col-md-3 hozz-cont">
				<div id="hozz-button">施工效果><%=@results.title %></div>
			</div>
		</div><!-- end row -->
	</div><!--end row -->
	<div id="request-ajax"><%= request.original_url %></div>
	<div id="page-num"><%= @realPageNums %></div>
	<div class="hozz-demo-wraper-div2">
		<div id="gallary-wrap">
			<div id="display-area">
				<div>
					<div class="caurse" id="left-caurse"><span id="left-control" class="glyphicon glyphicon-chevron-left control"></span></div>
					<div class="caurse" id="right-caurse"><span id="right-control" class="glyphicon glyphicon-chevron-right control"></span></div>
					<div class="current">
						<%= image_tag @resultImages[0].image_url, :title=>"#{@results.describe}", :width=>"737", :height=>"320" %>
					</div>
				</div>
			</div>
			<div id="sm-gallary">
				<ul id="sm-gallary-ul">
					<% @resultImages.each_with_index do | resultImage, index| %>
						<% if index == 0%>
							<li class="sm-gallary-li<%=index%> sm-current" index="<%=index%>">
							<%= image_tag resultImage.image_url, :width=>"119", :height=>"119" %>
							</li>
						<% else %>
							<li class="sm-gallary-li<%=index%>" index="<%=index%>">
								<%= image_tag resultImage.image_url, :width=>"119", :height=>"119"%>
							</li>
						<% end %>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>
