<% provide(:title, '更新首页图片') %>
<div class="row admin-row">
	<%= render "admins/admin_slider" %>
	<div class="col-md-6">
		<%= form_for(@indexImage,:url => admins_index_image_path) do |f| %>

			<%= f.label :image, "图片" %>
			<%= f.file_field :image %>

			<%= f.label :describe, "描述" %>
			<%= f.text_field :describe %>

			<%= f.label :url, "URL" %>
			<%= f.text_field :url %>
			<div class="col-submit">
				<%= f.submit "更新", class:"btn btn-large btn-primary" %>
			</div>
	    <% end %>
	</div>

</div>
