<% provide(:title, '更新联系方式') %>
<div class="row admin-row">
	<%= render "admins/admin_slider" %>
	<div class="col-md-6">
		<ul class="breadcrumb">
			<li><%= link_to '公司管理', admins_companies_path %></li>
			<li><%= link_to @company.name, admins_company_path(@company)%></li>
			<li class="active">编辑联系方式</li>
		</ul>
		<%= form_for(@contact, :url=>admins_company_contact_path(@company)) do |f| %>
			
			<%= f.label :telephone, '座机' %>
			<%= f.text_field :telephone %>

			<%= f.label :mobile, '手机' %>
			<%= f.text_field :mobile %>

			<%= f.label :mail, '邮箱' %>
			<%= f.text_field :mail %>

			<%= f.label :qq, 'QQ' %>
			<%= f.text_field :qq %>

			<%= f.label :other, '其他' %>
			<%= f.text_field :other %>

			<div class="col-submit">
				<%= f.submit "更新", class: "btn btn-large btn-primary" %>
			</div>
		<% end %>
	</div>
</div>
