<% provide(:title, '添加联系方式') %>
<div class="row admin-row">
	<%= render "admins/admin_slider" %>
	<div class="col-md-6">
		<%= form_for(@contact, :url=>admins_company_contact_path(@company)) do |f| %>
			<%= f.label :telephone, '座机' %>
			<%= f.text_field :telephone %>

			<%= f.label :mobile, '手机' %>
			<%= f.text_field :mobile %>

			<%= f.label :mail, '邮箱' %>
			<%= f.text_field :mail %>

			<%= f.label :qq, 'QQ' %>
			<%= f.text_field :qq %>

			<%= f.label :other, '其他' %>
			<%= f.text_field :other %>

			<div class="col-submit">
				<%= f.submit "添加", class: "btn btn-large btn-primary" %>
			</div>
	<% end %>
	</div>
</div>
