<div id="operator-title">
	<h4 id="user-admin-title">用户后台管理</h4>
	<% if !@company %>
		<div><%= link_to '创建公司', new_user_company_path(@user) %></div>
	<% end %>
	<% if request.fullpath == projects_user_company_path(@user,@company) %>
		<div><%= link_to '添加工程', new_company_project_path(@company) %></div>
	<% elsif request.fullpath == demos_user_company_path(@user,@company) %>
		<%= link_to '添加案例', new_company_demo_path(@company) %>
	<% end %>
</div>
<div class="span2">
	<div class="tabbable tabs-left">
		<ul class="nav nav-list">
			<li><%= link_to '基本信息', base_user_company_path(@user,@company) %></li>
			<li><%= link_to '法人信息', owner_user_company_path(@user,@company) %></li>
			<li><%= link_to '联系方式', contact_user_company_path(@user,@company) %></li>
			<li><%= link_to '公司地址', address_user_company_path(@user,@company) %></li>
			<li><%= link_to '经典案例', demos_user_company_path(@user,@company) %></li>
			<li><%= link_to '工程管理', projects_user_company_path(@user,@company) %></li>
		</ul>
	</div>
</div>
