<div class="row">
	<%= render "side" %>
	<div class="span6">
		<div>
			<% if @address %>
				<div>
					<%= @province.name %>-<%= @city.name %>-<%= @district.name %>-<%= @address.street %>
					<%= link_to '编辑', edit_company_address_path(@company,@address) %>
					<%= link_to '删除', [@address.company, @address], method: :delete, data: { confirm: "确定?" } %>
				</div>
			<% else %>
				<%= link_to '添加', new_company_address_path(@company) %>
			<% end %>
		</div>
	</div>
</div>
