<div class="row">
	<%= render "side" %>
	<div class="span6">
		<div>
			<div><span>公司Logo:</span><%= image_tag @company.logo %></div>
			<div>
				<span>公司名称:</span>
				<%= link_to @company.name, company_path(@company) %>
				<span><%= link_to '编辑', edit_company_path(@company) %></span>
				<span><%= link_to '删除', @company, method: :delete, data: { confirm: "确定?"} %></span>
			</div>
			<div><span>公司类别:<%= @company.category %></span></div>
			<div><span>公司服务:</span><%= @company.service %></div>
			<div><span>公司简介:</span><%= @company.about%></div>
		</div>
	</div>
</div>
