<div class="row">
	<%= render "side" %>
	<div class="span6">
		<div>
			<ol>
				<% @demos.each do |demo| %>
					<li>
						<span><%= demo.title %></span>
						<span><%= image_tag demo.image %></span>
						<span><%= demo.introduction %></span>
						<span><%= link_to '查看', view_company_demo_path(@company,demo) %></span>
						<span><%= link_to '编辑', edit_company_demo_path(@company,demo)%></span>
						<span><%= link_to '删除', [demo.company,demo], method: :delete, data: {confirm: "确定?"} %></span>
					</li>
				<% end %>
			</ol>
		</div>
	</div>
</div>
