<% provide(:title, "全部公司") %>
<div class="cus-breadcrumb">
	<ul class="breadcrumb">
		<li><%= link_to '首页', :target=>'_blank'%></li>
		<li class="active">全部公司</li>
	</ul>
</div>
<div class="col-md-8">
	<% @companies.each do |company| %>
		<div class="company-item">
			<div class="company-logo"><%= image_tag company.logo, :height=>157, :width=>150 %></div>
			<div class="names-li">
				<div class="company-name">
					<span>公司名称:</span><%= link_to company.name, company, :target=>"_blank" %>
				</div>
				<div class="company-owner">
					<span>法人代表:</span><%= company.owner.name %>
				</div>
				<div class="company-address">
					<span>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址:</span>
					<% if company.address != nil %>
						<%= ChinaCity.get(company.address.province) %>
						<% if !(company.address.city.eql?"110100") && !(company.address.city.eql?"110200") %>
							<%=ChinaCity.get(company.address.city)%>
						<% end %>
						<%=ChinaCity.get(company.address.district)%>
						<%=company.address.street %>
					<% end %>
				</div>
				<div class="company-intro">
					<span>公司简介:</span><%= company.about%>
				</div>
				<div class="company-more"><%= link_to '了解更多>>', company, :target=>"_blank"%></div>
			</div>
			<div class="star"><ul></ul></div>
		</div>
	<% end %>
</div>
