<% provide(:title, 'Create company') %>
<h1>Create company </h1>
  <div class="span6 offset3">
    <%= form_for([current_user,current_user.companies.build],:html => {:multipart => true} ) do |f| %>

      <%= f.label :logo %>
      <%= f.file_field :logo %>
      
      <%= f.label :name, '公司名' %>
      <%= f.text_field :name %>
      
      <%= f.label :owner, '法人' %>
      <%= f.text_field :owner %>

      <%= f.label :about, '关于' %>
      <%= f.text_field :about %>

      <%= f.label :contact, '联系方式' %>
      <%= f.text_field :contact %>

      <%= f.label :address, '地址' %>
      <%= f.text_field :address %>

      <%= f.submit "创建", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
