<div class="row">
	<div class="span11" id="company-navs">
		<ul class="nav nav-pills">
			<li><%= link_to '公司介绍', company_path(@company)%></li>
			<li><%= link_to '联系方式', company_contact_path(@company)%></li>
			<li><%= link_to '法人信息', company_owner_path(@company)%></li>
			<li><%= link_to '服务范围', company_service_path(@company)%></li>
			<li><a href="#">工程介绍</a></li>
			<li><a href="#">套餐报价</a></li>
			<li><a href="#">案例展示</a></li>
		</ul>
	</div>
	<div class="span11">
		<div id="logo-images">
			<%= image_tag @company.logo , :class => "img-polaroid", :width => 150, :height => 180 %>
		</div>
		<div id="company-intro">
			<div>
			<% if @owner %>
				<div>
					<span>法人姓名:</span>
					<%= @owner.name %>
				</div>
				<div>
					<span>法人照片:</span>
					<%= (image_tag @owner.photo, :width => 200, :height => 150) %>
				</div>
				<div>
					<span>法人介绍:</span>
					<p><%= @owner.about %></p>
				</div>
				<div>
					<span>营业执照:</span>
					<%= image_tag @owner.license, :width => "200", :height => 150 %>
				</div>
			<% end %>
		</div>

		</div>
	</div>
</div>
