<div class="row">
	<%= render "side" %>
	<div class="span6">
		<div>
			<ol>
			<% @projects.each do |project| %>
				<li>
					<%= project.name %>
					<span><%= link_to '查看', company_project_path(@company,project)%></span>
					<span><%= link_to '编辑', edit_company_project_path(@company,project)%></span>
					<span><%= link_to '删除', [project.company,project], method: :delete, data: {confirm: "确定?"} %></span>
				</li>
			<% end %>
			</ol>
		</div>
	</div>
</div>
