<div class="span12">
	<%= image_tag @company.logo_url if @company.logo?  %>
<!--<div>image_tag @company.logo_url(:thumb) if @company.logo?</div>-->
</div>

<div class="row">
	<div class="navbar navbar-inverse nav-collapse">
		<ul class="nav">
			<li>
			<!--<i class="icon-chevron-right"></i>-->
				<%= link_to '关于'+@company.name, '#' %>
			</li>
			<li>
			<!--<i class="icon-chevron-right"></i>-->
				<%= link_to '联系'+@company.name, '#' %>
			</li>
			<li>
			<!--<i class="icon-chevron-right"></i>-->
				<%= link_to @company.name+'地址', '#' %>
			</li>
			<li>
			<!--<i class="icon-chevron-right"></i>-->
				<%= link_to @company.name+'法人', '#' %>
			</li>
			<li>
			<!--<i class="icon-chevron-right"></i>-->
				<%= link_to @company.name+'工程', '#' %>
			</li>
		</ul>
	</div>
	<div class="span12 detial-content">
		<section>
			<%= @company.name %>
			<p>
				josjdofjodjfijsdfojsodfjosdjfosdfjosdjfosjdfojsdofjodsjfosjdfojsdfsdfsdfsdfsdfdsfsdfdsfsdfsdfsdfsdfdsfsdfsdfsdfsdfsdfsdfsdfsdfsdfsfddssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss
			</p>
			<p>
				josjdofjodjfijsdfojsodfjosdjfosdfjosdjfosjdfojsdofjodsjfosjdfojsdf
			</p>
			<p>
				josjdofjodjfijsdfojsodfjosdjfosdfjosdjfosjdfojsdofjodsjfosjdfojsdf
			</p>
			<p>
				josjdofjodjfijsdfojsodfjosdjfosdf
				josdjfosjdfojsdofjodsjfosjdfojsdf
			</p>
			<p>
				josjdofjodjfijsdfojsodfjosdjfosdf
				josdjfosjdfojsdofjodsjfosjdfojsdf
			</p>
			<p>
				josjdofjodjfijsdfojsodfjosdjfosdf
				josdjfosjdfojsdofjodsjfosjdfojsdf
			</p>
			<p>
				josjdofjodjfijsdfojsodfjosdjfosdf
				josdjfosjdfojsdofjodsjfosjdfojsdf
			</p>
			<p>
				josjdofjodjfijsdfojsodfjosdjfosdf
				josdjfosjdfojsdofjodsjfosjdfojsdf
			</p>
			<p>
				josjdofjodjfijsdfojsodfjosdjfosdf
				josdjfosjdfojsdofjodsjfosjdfojsdf
			</p>
			<p>
				josjdofjodjfijsdfojsodfjosdjfosdf
				josdjfosjdfojsdofjodsjfosjdfojsdf
			</p>
			<p>
				josjdofjodjfijsdfojsodfjosdjfosdf
				josdjfosjdfojsdofjodsjfosjdfojsdf
			</p>
		</section>
		<section>
			<%= @company.owner %>
		</section>
		<section>
			<%= @company.about %>
		</section>
		<section>
			<%= @company.phone %>
		</section> 
	</div>
</div>


<% if @company.projects.any? %>
  <h3>Projects (<%= @projects.count %>)</h3>
  <ol class="projects">
    <% @projects.each do |project| %>
      <li><%= project.name %> <%= project.content %></li>
    <% end %>
  </ol>
<% end %>
