<div class="row" id="show-company">

	<div class="span3" id="hozz-left">
		<div id="logo-image">
			<%= image_tag @company.logo , :class => "hozz-img-polaroid" %>
		</div>
		<div class="hozz-owner-con">
			<div class="hozz-owner-header">公司资料</div>
			<div class="hozz-owner-content">
				<ul>
					<li class="hozz-com-item">公司概述</li>
					<li class="hozz-com-item">施工效果</li>
					<li class="hozz-com-item">经典案例</li>
					<!--<li class="hozz-com-item">收费方案</li>-->
					<li class="hozz-com-item">公司动态</li>
					<li class="hozz-com-item">公司特色</li>
					<li class="hozz-com-item">评论/打分</li>
				</ul>
			</div>
		</div><!-- end hozz-owner-con -->
	</div><!-- end span3 -->
	
	<div class="span11">

		<div class="row hozz-company-title">
			<div class="hozz-title">
				<%= @company.name %>
			</div>
			<div class="row">
				<div class="span4">
					<div class="hozz-phone"></div>
					<div class="hozz-phone-con"><%= @company.contact.telephone %></div>
				</div>
				<div class="span3 hozz-cont">
					<div>
						<button type="button" id="hozz-button" class="btn btn-success btn-large">详细信息</button>
					</div>
				</div>
			</div><!-- end row -->
			<hr style="border-color:#ddd;border-width:1px 0px 0px;margin:10px 0px;">
			<div class="row">
				<div class="span5">
					<div>公司简介</div>
					<div>
						<%= @company.about %>
					</div>
				</div><!-- end span5-->
				<div class="span3 hozz-cont">
					<div>
						<span>法人:</span>
						<span><%= @company.owner.name%></span>
					</div>
					<div>
						<span>手机:</span>
						<span><%= @company.contact.mobile %></span>
					</div>
					<div>
						<span>QQ:</span>
						<span><%= @company.contact.qq %></span>
					</div>
					<div>
						<span>Email:</span>
						<span><%= @company.contact.mail%> </span>
					</div>
					<div>
						<span>地址:</span>
						<span><%= @province.name %><%= @city.name %><%= @district.name %>区<%= @company.address.street %></span>
					</div>
				</div><!--end span3-->
			</div><!-- end row -->
		</div><!--end row -->

		<div class="row">
			
			<div class="hozz-demo-wraper">
				<div class="hozz-demo-header">
					<ul class="hozz-ul">
						<li><a href="#">经典案例</a></li>
						<li><a class="hozz-active" href="#">施工效果</a></li>
						<li><a class="li-last" href="#">公司特色</a></li>
					</ul>
					<div class="hozze-clear"></div>
				</div>
				<div class="hozz-demo-content">
					<ul class="unstyled thumbnails">
						<% @company.demos.each do |demo| %>
							<li class="demo-content">
								<div class="thumbnail">
									<%= image_tag demo.image, :width => 171, :height => 180 %>
									<div class="caption">
										<p><%= link_to '三居室客厅', help_path%></p>
									</div>
								</div>
							</li>
						<% end %>
						<% @company.demos.each do |demo| %>
							<li class="demo-content">
								<div class="thumbnail">
									<%= image_tag demo.image, :width => 171, :height => 180 %>
									<div class="caption">
										<p><%= link_to '三居室客厅', help_path%></p>
									</div>
								</div>
							</li>
						<% end %>
						<% @company.demos.each do |demo| %>
							<li class="demo-content">
								<div class="thumbnail">
									<%= image_tag demo.image, :width => 171, :height => 180 %>
									<div class="caption">
										<p><%= link_to '三居室客厅', help_path%></p>
									</div>
								</div>
							</li>
						<% end %>
						<% @company.demos.each do |demo| %>
							<li class="demo-content">
								<div class="thumbnail">
									<%= image_tag demo.image, :width => 171, :height => 180 %>
									<div class="caption">
										<p><div><%= link_to '香墅湾别墅区', help_path%>5.6W</div></p>
										<p>设计+材料+人工</p>
									</div>
								</div>
							</li>
						<% end %>
					</ul>
				</div>
			</div>

			<div class="hozz-demo-wraper">
				<div class="hozz-demo-header">
					<div class="hozz-demo-header-text">公司动态</div>
				</div>
				<div class="hozz-demo-content">
					<ul class="unstyled thumbnails">
						<% @company.demos.each do |demo| %>
							<li class="demo-content">
								<div class="thumbnail">
									<%= image_tag demo.image, :width => 260, :height => 180 %>
								</div>
							</li>
						<% end %>
					</ul>
				</div>
			</div>

		</div><!-- end row -->

	</div><!-- end span8 -->

</div><!-- end row -->


