<% provide(:title, '更新工程信息') %>
<div class="row admin-row">
	<div class="span6">
		<%= form_for(@project, :url => admins_company_project_path(@company)) do |f| %>
			
			<%= f.label :name, '名字' %>
			<%= f.text_field :name %>

			<%= f.label :content, '内容' %>
			<%= f.kindeditor :content %>
			
			<%= f.submit "更新", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
