<% provide(:title, '添加工程') %>
<div class="row">
	<div class="well span2">
		<ul class="nav nav-list">
			<li class="nav-header">管理面板</li>
			<li><%= link_to '首页管理', admins_manager_path %></li>
			<li><%= link_to "用户管理","#" %></li>
			<li class="active"><%= link_to '公司管理',admins_companies_path %></li>
			<li><a href="#">知识管理</a></li>
			<li><a href="#">笔记管理</a></li>
			<li><a href="#">申请管理</a></li>
		</ul>
	</div>
	<div class="span6">
		<%= form_for(@project, :url => admins_company_projects_path(@company)) do |f| %>

      <%= f.label :name, '工程名' %>
      <%= f.text_field :name %>

      <%= f.label :content, '工程描述' %>
      <%= f.kindeditor :content %>
    <%= f.submit "添加工程", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
