<% provide(:title, '更新地址') %>
<div class="row">
	<%= render "side" %>
	<div class="span6">
		<%= form_for([@company,@address]) do |f| %>
			
			<%= f.region_select :province, :selected => '请选择' %>
			<%= f.label :province, '省', :class=>'region_select' %>
			<%= f.region_select :city %>
			<%= f.label :city, '市', :class=>'region_select' %>
			<%= f.region_select :district %>
			<%= f.label :district, '区', :class=>"region_select" %>
			<%= f.label :street, '街' %>
			<%= f.text_field :street %>

			<%= f.submit "更新", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
