<% provide(:title, '添加地址') %>
<div class="row">
	<div class="well span2">
		<ul class="nav nav-list">
			<li class="nav-header">管理面板</li>
			<li><%= link_to '首页管理', admins_manager_path %></li>
			<li><%= link_to "用户管理", admins_users_path %></li>
			<li class="active"><%= link_to '公司管理', admins_companies_path %></li>
			<li><%= link_to '知识管理', admins_articles_path %></li>
			<li><%= link_to '笔记管理', admins_logs_path %></li>
			<li><a href="#">申请管理</a></li>
		</ul>
	</div>
	<div class="span9">
		<%= form_for @address, :url=>admins_company_address_path(@company) do |f| %>
			<%= f.region_select :province, :selected => '请选择' %>
			<%= f.label :province, '省', :class=>'region_select' %>
			<%= f.region_select :city %>
			<%= f.label :city, '市', :class=>"region_select" %>
			<%= f.region_select :district %>
			<%= f.label :district, '区', :class=>'region_select' %>
			<%= f.label :street, '街' %>
			<%= f.text_field :street %>
			<%= f.submit "添加", class: "btn btn-large btn-primary" %>
	    <% end %>
	</div>
</div>
