<div class="row">
	<div class="well span2">
		<ul class="nav nav-list">
			<li class="nav-header">管理面板</li>
			<li class="active"><a href="#">用户管理</a></li>
			<li><a href="#">公司管理</a></li>
			<li><a href="#">文章管理</a></li>
		</ul>
	</div>
	<div class="span9">

		<table class="table table-bordered">
			<thead>
               <th>userName</th>
               <th>Email</th>
               <th>registerTime</th>
               <th>lastLogin</th>
               <th>option</th>
			</thead>
			<tbody>
				<% if @users %>
					<% @users.each do |user| %>
						<tr>
							<td> <%= user.name %></td>
							<td> <%= user.email %></td>
							<td> <%= user.created_at%></td>
							<td> <%= user.last_sign_in_at %></td>
							<td> <span>edit</span><span>delete</span></td>
						</tr>
					<% end %>
			    <% end %>
			</tbody>
		</table>	

		<table class="table table-bordered">
			<thead>
               <th>name</th>
               <th>logo</th>
               <th>option</th>
			</thead>
			<tbody>
				<% if @companies %>
					<% @companies.each do |company| %>
						<tr>
							<td> <%= company.name %></td>
							<td> <%= company.logo %></td>
							<td> <span>edit</span><span>delete</span></td>
						</tr>
					<% end %>
			    <% end %>
			</tbody>
		</table>	
	</div>
</div>
