<div class="row admin-row">
	<%= render "admins/admin_slider" %>
	<div class="col-md-9">
		<%= @new_index_image_path%>
		<div class="add-company"><%= link_to '添加图片', new_admins_index_image_path%></div>
		<table class="table table-bordered admin">
			<thead>
               <th>图片</th>
               <th>描述</th>
               <th>上传日期</th>
               <th>更新日期</th>
               <th>操作</th>
			</thead>
			<tbody>
				<% if @indexImages %>
					<% @indexImages.each do |indexImage| %>
						<tr>
							<td> <%= image_tag indexImage.image_url(:thumb) %></td>
							<td> <%= indexImage.describe %></td>
							<td> <%= indexImage.created_at%></td>
							<td> <%= indexImage.updated_at %></td>
							<td>
								<span class="glyphicon glyphicon-pencil"></span>
								<span class="option"><%= link_to "编辑", edit_admins_index_image_path(indexImage) %></span>
								<span class="glyphicon glyphicon-trash"></span>
								<span class="option"><%= link_to "删除", admins_index_image_path(indexImage),
									method: :delete, data: {confirm: "确定?"} %></span>
							</td>
						</tr>
					<% end %>
			    <% end %>
			</tbody>
		</table>	
	</div>
</div>
