<div class="row admin-row">
	<%= render "admins/admin_slider" %>
	<div class="col-md-9">
		<table class="table table-bordered admin">
			<thead>
               <th>用户名</th>
               <th>邮箱</th>
               <th>注册时间</th>
               <th>最后登录时间</th>
               <th>操作</th>
			</thead>
			<tbody>
				<% if @users %>
					<% @users.each do |user| %>
						<tr>
							<td> <%= user.name %></td>
							<td> <%= user.email %></td>
							<td> <%= user.created_at%></td>
							<td> <%= user.last_sign_in_at %></td>
							<td>
								<span class="glyphicon glyphicon-pencil"></span>
								<span class="option"><%= link_to "编辑", "#" %></span>
								<span class="glyphicon glyphicon-trash"></span>
								<span class="option"><%= link_to "删除", "#" %></span>
							</td>
						</tr>
					<% end %>
			    <% end %>
			</tbody>
		</table>
	</div>
</div>
