<% provide(:title, '更新施工效果集') %>
<div class="row admin-row">
	<%= render "admins/admin_slider" %>
	<div class="col-md-6">
		<%= form_for(@doing_result_set, url: admins_company_doing_result_set_path(@company,@doing_result_set)) do |f| %>
			
			<%= f.label :title, '效果集标题' %>
			<%= f.text_field :title %>

			<%= f.label :describe, '描述' %>
			<%= f.text_field :describe %>
			<div class="col-submit">
				<%= f.submit "更新", class: "btn btn-large btn-primary" %>
			</div>
		<% end %>
	</div>
</div>
