<% provide(:title, '添加施工效果集') %>
<h2>添加文章</h2>
<div class="row admin-row">
	<%= render "admins/admin_slider" %>
	<div class="col-md-9">
		<%= form_for @doing_result_set, url: admins_company_doing_result_sets_path(@company) do |f| %>
			
			<%= f.label :title, '效果集标题' %>
			<%= f.text_field :title %>

			<%= f.label :describe, '描述' %>
			<%= f.text_field :describe %>
			<div class="col-submit">
				<%= f.submit "添加", class: "btn btn-large btn-primary" %>
			</div>
		<% end%>
	</div>
</div>
