<% provide(:title, '更新文章') %>
<h2>更新文章</h2>
<div class="row admin-row">
	<%= render "admins/admin_slider" %>
	<div class="col-md-6">
		<%= form_for @article, url: admins_article_path, :html => {:multipart => true} do |f| %>
			
			<%= f.label :title, '标题' %>
			<%= f.text_field :title %>
			
			<%= f.label :coverimage, '封面' %>
			<%= f.file_field :coverimage %>

			<%= f.label :category, '类别' %>
			<%=	collection_select :article, :category_id, @categories, :id, :category %>

			<%= f.label :keywords, '关键字' %>
			<%= f.text_field :keywords %>

			<%= f.label :content, '内容'%>
			<%= f.kindeditor :content %>

			<div class="col-submit">
				<%= f.submit "更新", class: "btn btn-large btn-primary" %>
			</div>
		<% end %>
	</div>
	</div>
</div>
