<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "花括号科技" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "花括号科技" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
	<%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <header class="navbar navbar-fixed-top">
  		<nav class="navbar-inner"> 
    		<div class="container">
    			<%= render 'layouts/navigation' %>
            </div>
      </nav>
    </header>
    <div id="main" role="main" class="main">
      <div class="container container-bg">
        <div class="content">
           <div class="row min-content">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
		  <%= render 'layouts/footer'%>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
